# This is the network config written by 'dmc-access-mgr'
network:
  version: 2
  renderer: networkd
  ethernets:
    enp1s0:
      dhcp4: yes
      dhcp6: no
    enp2s0:
      dhcp4: yes
      dhcp4-overrides:
        use-routes: false
      dhcp6: no
    enp3s0:
      dhcp4: no
      dhcp6: no
    enp4s0:
      dhcp4: no
      dhcp6: no
